<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="electric.cycle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectricCycle">

        <activity android:name=".Activities.ServiceActivity"/>
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".Activities.SignUp" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity
            android:name=".Activities.NavigationDrawer"
            android:exported="true"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.ElectricCycle.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>